// :host{
//   display: block;
//   max-height: 100vh;
//   height: 100vh;
//   overflow: hidden;

//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
:host {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  div {
    border: blue 1px solid;
  }
}
