:host {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--text-color) !important;
  font-family: var(--text-font-family)!important;
  cursor: pointer;

  &.empty {
    // pointer-events: none;
    cursor: initial;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 0.12;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  i,
  li,
  span,
  strong {
    color: var(--text-color) !important;
    font-family: var(--text-font-family)!important;
  }
}
