@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: bisque;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(41, 41, 41);
}

p {
  font-weight: 500;
}